<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Main page</title>
</head>
<body>
    <div class="container mt-5">
        <h1> Welcome to File manager! </h1>
        <a href="\login"><button class="btn btn-primary mx-3"> Login </button></a>
        <a href="\register"><button class="btn btn-primary mx-3"> Register </button></a>
    </div>
</body>
</html>