<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Sign up page</title>
</head>

<body>
    <div class="container mt-5">
        <div class="alert alert-danger error" style="display: none;">
            <%= error %>
        </div>
        <div class="alert alert-info info" style="display: none;">
            <%= info %>
        </div>
        <h1 class="mb-4">User Registration</h1>
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const errorDiv = document.querySelector('.error');
            const errorText = "<%= error %>";

            if (errorText.trim() !== "") {
                errorDiv.textContent = errorText;
                errorDiv.style.display = "block";
            }
        });
        // JavaScript code to show info message dynamically
        document.addEventListener('DOMContentLoaded', function () {
            const infoDiv = document.querySelector('.info');
            const infoText = "<%= info %>";

            if (infoText.trim() !== "") {
                infoDiv.textContent = infoText;
                infoDiv.style.display = "block";
            }
        });
    </script>
</body>

</html>